- name: Ensure autostart directory exists
  ansible.builtin.file:
    path: "{{ home_directory }}/.config/autostart"
    state: directory
    mode: 0755

- name: Register autostart scripts
  ansible.builtin.copy:
    content: "{{ item.value.script }}"
    dest: "{{ home_directory }}/.config/autostart/{{ item.value.filename }}"
    mode: 0644
  loop: "{{ autostart_configs | dict2items }}"
