- name: Ensure autostart directory exists
  ansible.builtin.file:
    path: "{{ home_directory }}/.config/autostart"
    state: directory
    mode: 0755

- name: Configure WoeUSB
  ansible.builtin.include_tasks: woeusb.yml

- name: Configure autostart applications
  ansible.builtin.include_tasks: autostart.yml

- name: Configure GNOME
  ansible.builtin.include_tasks: gnome.yml

- name: Configure fonts
  ansible.builtin.include_tasks: fonts.yml
