- name: Configure autostart applications
  ansible.builtin.include_tasks: autostart.yml

- name: Configure fonts
  ansible.builtin.include_tasks: fonts.yml

- name: Configure WoeUSB
  ansible.builtin.include_tasks: woeusb.yml
