- name: Configure systemd-boot
  ansible.builtin.include_tasks: boot.yml

- name: Configure autostart applications
  ansible.builtin.include_tasks: autostart.yml

- name: Configure GNOME
  ansible.builtin.include_tasks: gnome.yml

- name: Configure fonts
  ansible.builtin.include_tasks: fonts.yml

- name: Configure WoeUSB
  ansible.builtin.include_tasks: woeusb.yml
