- name: Install WoeUSB (for creating Windows installations)
  block:
    - name: Install WoeUSB dependencies
      become: true
      ansible.builtin.apt:
        name:
          - p7zip-full
          - python3-wxgtk4.0
          - grub2-common
          - grub-pc-bin
          - parted
          - dosfstools
          - ntfs-3g
    - name: Install WoeUSB Python package
      become: true
      ansible.builtin.pip:
        name:
          - WoeUSB-ng
