- name: Configure NGINX reverse proxy service
  ansible.builtin.include_tasks: nginx.yml

- name: Configure ddclient service
  ansible.builtin.include_tasks: ddclient.yml

- name: Configure Wireguard VPN server service
  ansible.builtin.include_tasks: wireguard.yml

- name: Configure home theater services
  ansible.builtin.include_tasks: home_theater.yml

- name: Configure Minecraft servers
  ansible.builtin.include_tasks: minecraft.yml
  loop: "{{ minecraft_servers | dict2items }}"
  when: "minecraft_servers is defined"

- name: Configure Calibre service
  ansible.builtin.include_tasks: calibre.yml

- name: Configure backups
  ansible.builtin.include_tasks: backups.yml
