- name: Allow sudo without password for main user
  become: true
  ansible.builtin.copy:
    dest: "/etc/sudoers.d/{{ username  }}"
    owner: root
    group: root
    mode: '0440'
    content: "{{ username }} ALL=(ALL) NOPASSWD:ALL\n"
    validate: "visudo -cf %s"

- name: Set hostname
  become: true
  ansible.builtin.hostname:
    name: "{{ hostname }}"

- name: Set timezone
  become: true
  community.general.timezone:
    name: "{{ timezone }}"

- name: Run package-related tasks
  ansible.builtin.include_tasks: apt.yml

# TODO unattended upgrades

- name: Configure Python
  ansible.builtin.include_tasks: python.yml

- name: Run user-related tasks
  ansible.builtin.include_tasks: user.yml

- name: Configure SSH client settings
  ansible.builtin.include_tasks: ssh_client.yml

- name: Configure GitHub access settings
  ansible.builtin.include_tasks: github.yml

- name: Configure dotfiles
  ansible.builtin.include_tasks: dotfiles.yml

- name: Configure fish shell
  ansible.builtin.include_tasks: fish.yml
  when: "user_shell == '/usr/bin/fish'"

- name: Install .debs not available in APT
  ansible.builtin.include_tasks: debs.yml
  loop: "{{ debs | dict2items }}"
  when: debs is defined

- name: Configure Flatpak
  ansible.builtin.include_tasks: flatpak.yml

- name: Configure Docker
  ansible.builtin.include_tasks: docker.yml

- name: Configure users for running services
  ansible.builtin.include_tasks: service_users.yml

- name: Reboot if required
  when: trigger_reboots is defined and trigger_reboots
  block:
    - name: Check for presence of reboot-required file
      ansible.builtin.stat:
        path: /var/run/reboot-required
      register: reboot_required_file
    - name: Reboot if required
      become: true
      when: reboot_required_file.stat.exists
      ansible.builtin.reboot:
